#header {
    .header-inner {
        .flex-between();
        padding-top: 52px;
    }
    .header-right {
        .flex-between();
        &-inner {
            padding-left: 80px;
            font-weight: 500;
        }
    }
}